<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.health.READ_SLEEP" />
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.READ_EXERCISE" />
    <queries><package android:name="com.google.android.apps.healthdata" /></queries>
    <application android:label="Personal Companion Health" android:allowBackup="false" android:fullBackupContent="false" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:launchMode="singleTop" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity android:name=".RationaleActivity" android:exported="true">
            <intent-filter><action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" /></intent-filter>
        </activity>
        <activity-alias android:name="ViewPermissionUsageActivity" android:exported="true" android:targetActivity=".RationaleActivity" android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
            <intent-filter><action android:name="android.intent.action.VIEW_PERMISSION_USAGE" /><category android:name="android.intent.category.HEALTH_PERMISSIONS" /></intent-filter>
        </activity-alias>
    </application>
</manifest>
